.background {
    background-color: #ecf1f7;
    flex-grow: 1;
}

.profilePicture{
    width: auto;
    height: 60vh;
    border-radius: 20%;
    object-fit: cover;
    animation: shadow 4s linear infinite;
}

.question {
    font-family: 'Blooming Elegant Sans Bold';
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 1%;
}

.informations {
    width: 80vh;
}

.contact {
    padding-top: 3%;
}

.contactIcons:hover {
    height: 10vh;
    width: auto;
    cursor: pointer;
}

.contactIcons {
    animation: bounce 1s linear;
}

.experience {
    font-family: 'Blooming Elegant Sans Bold';
    font-weight: bolder;
    font-size: 50px;
    padding: 10% 0 3% 0;
    text-align: center;
}

.company {
    width: 50vh;
    height: auto;
    border: 1px solid black;
    border-radius: 10%;
    object-fit: cover;
}

.workDescription {
    padding-top: 3%;
    width: 80vh;
}

@media (max-width: 600px) {
    .profilePicture {
        height: 45vh;
    }

    .question {
        text-align: center;
        width: 100vw;
        padding: 3% 0 3% 0;
    }

    .informations {
        text-align: center;
        width: 90vw;
        padding-bottom: 3%;
    }

    .company {
        width: 70vw;
    }

    .workTitle,
    .workDescription {
        text-align: center;
        width: 90vw;
        border: '1px solid red';
    }

    .workDescription {
        padding-bottom: 8%;
    }
}

@media (min-width: 600px) {
    .company {
        margin-left: 5%;
    }
    
    .profilePicture {
        margin-right: 5%;
    }
}

@keyframes bounce {
    0% {
       transform: translateY(0); 
    }
    16% {
        transform: translateY(-6vh);
    }
    32% {
        transform: translateY(0);
    }
    48% {
        transform: translateY(-3vh);
    }
    64% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-1vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 1vh transparent;
    }

    50% {
        box-shadow: 0 0 4vh #0c192c;
    }

    100% {
        box-shadow: 0 0 1vh transparent;
    }
}