.background {
    background-color: #ecf1f7;
    flex-grow: 1;
}

.profilePicture{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5%;
}

.messages {
    animation: left-to-right 1s ease-in-out;
}

.profile {
    animation: bottom-to-top 1s ease-in-out;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes bottom-to-top {
    0% {
        transform: translateY(-200%)
    }
}


.name,
.description {
    margin-right: 5%;
}

.name {
    font-family: 'Blooming Elegant Sans Bold';
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 1%;
}

.description {
    margin-top: 1%;
}

.technologies:hover {
    height: 10vh;
    width: auto;
}
