.background {
    background-color: #ecf7f1;
    flex-grow: 1;
}

.profilePicture{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
    animation: shadow 4s linear infinite;
}

.name {
    font-family: 'Blooming Elegant Sans Bold';
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 1%;
}

.description {
    text-align: center;
}

.technologies:hover {
    height: 10vh;
    width: auto;
}

@media (min-width: 600px) {
    .profilePicture {
        margin-left: 5%;
    }
}

@media (max-width: 600px) {
    .profilePicture {
        margin-top: -20%;
    }

    .description {
        width: 90vw;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 #0c192c;
    }

    50% {
        box-shadow: 0 0 2vh #0c192c;
    }

    100% {
        box-shadow: 0 0 0 #0c192c;
    }
}