.background {
    background-color: #ecf1f7;
    flex-grow: 1;
}

.circle {
    position: absolute;
    border: 5px solid #4fc3dc;
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
