.background {
    background-color: #0c192c;
    flex-grow: 1;
    animation: backgroundChange 0.5s linear;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    display: flex;
    bottom: 0vh;
    width: 100vw;
    z-index: 1;
}

.bubbles span {
    position: relative;
    width: 2vw;
    height: 2vw;
    background-color: #4fc3dc;
    margin: 0 1vw;  
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 3s linear infinite;
}

.bubbles span:nth-child(even) {
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
    0%{
        transform: translateY(0vh) scale(0);
    }
    100%{
        transform: translateY(-100vh) scale(1);
    }
}

.cardImage {
    height: auto;
    width: 30vw;
}

.technologies {
    height: 5vh;
}

.details {
    font-size: 16px;
}

@media (max-width: 600px) {
    .cardImage {
        width: 80vw;
    }

    .technologies {
        height: 3vh;
    }
}

@keyframes backgroundChange {
    0% {
        background-color: #ecf1f7;
    }

    100% {
        background-color: #0c192c;
    }
}
