.background {
    background-color: #0c192c;
    flex-grow: 1;
    overflow: hidden;
}

.particles {
    position: absolute;
    display: flex;
    z-index: 0;
}

.cardImage {
    height: auto;
    width: 30vw;
}

.technologies {
    height: 5vh;
}

.details {
    font-size: 16px;
}

@media (max-width: 600px) {
    .cardImage {
        width: 80vw;
    }

    .technologies {
        height: 3vh;
    }
}
