.background {
    background-color: #0c192c;
    flex-grow: 1;
    overflow: hidden;
}

.particles {
    position: absolute;
    display: flex;
    z-index: 0;
}


.cardImage {
    height: auto;
}


@media (max-width: 767px) {
    .cardImage {
        width: 80vw;
    }

    .details {
        font-size: large;
    }

    .technologies {
        height: 8vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cardImage {
        width: 60vw;
    }

    .technologies {
        height: 5.5vw;
    }

    .details {
        font-size: x-large;
    }
}

@media (min-width: 992px) {
    .cardImage {
        width: 30vw;
    }

    .technologies {
        height: 5vh;
    }

    .details {
        font-size: 16px;
    }
}